@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Welcome to the Demo of my Ticketing System for Bug Tracking!

        I'm delighted to present my ticketing system designed to streamline bug tracking processes. In this demo, Quality Assurers can effortlessly create, edit, and delete bug reports, while Developers have the ability to mark them as Resolved. I've crafted this solution with a focus on simplicity and effectiveness to enhance our development workflows. I hope you enjoy exploring its functionalities and seeing how it aligns with our project goals. Your feedback is invaluable to me as I continue to refine and improve my system.

        Thank you for joining me!
    </p>
</div>
